.actionmenu-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.actionmenu-container span {
  background-color: #fdfdfd;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid #256bd4;
}

.actionmenu-container span:hover {
  background-color: hsla(216, 70%, 49%, 0.01);
}

.actionmenu-container span:not(:last-child) {
  margin-right: 1rem;
}
