.actionmenu-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.actionmenu-container span {
  background-color: hsla(0, 0%, 100%, 0.15);
  padding: 0.5rem;
  cursor: pointer;
}

.actionmenu-container span:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.actionmenu-container span:not(:last-child) {
  margin-right: 1rem;
}
