form {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 50px 20px;
  background-color: #fdfdfd;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

form > :not(:last-child) {
  margin-right: 1rem;
}

form > :nth-child(2) {
  margin-right: 3rem;
}

.form-input-email {
  width: 100%;
  height: 2rem;
  border: none;
  text-indent: 1rem;
  background-color: #fdfdfd;
  border-bottom: 1px solid #266cd4;
}

.form-minprize-container {
  display: flex;
  align-items: center;
}

.form-input-minprize {
  height: 2rem;
  border: none;
  text-indent: 1rem;
  background-color: #fdfdfd;
  border-bottom: 1px solid #266cd4;
}

.form-input-minprize-currency {
  margin-left: 0.2rem;
}

.form-input-invalid {
  border: 1px solid red;
}

.form-submit-url {
  padding: 0 1rem;
  height: calc(2.5rem + 2px);
  background-color: #fdfdfd;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #266cd4;
  color: white;
}

.form-submit-url:hover {
  background-color: #1765d8;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  form > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  form > :nth-child(2) {
    margin-right: 0;
  }
}
